$color-navy: rgba(41, 51, 155, 1);
$color-marine: rgba(116, 164, 188, 1);
$color-seafoam: rgba(182, 214, 204, 1);
$color-lime: rgba(241, 254, 198, 1);
$color-red: rgba(255, 58, 32, 1);

$color1: rgba(255, 172, 137, 1);
$color2: rgba(210, 255, 209, 1);
$color3: rgba(255, 234, 72, 1);
$color4: rgba(123, 208, 150, 1);
$color5: rgba(253, 151, 84, 1);


$color-flat-navy: rgba(44, 62, 80, 1);
$color-flat-red: rgba(231, 76, 60, 1);
$color-flat-royal: rgba(52, 152, 219, 1);
$color-flat-true-blue: rgba(41, 128, 185, 1);
$color-flat-light-gray: rgba(248, 253, 254, 1);
$color-flat-gray: rgba(236, 240, 241, 1);
$color-flat-dark-gray: rgba(111, 113, 113, 1);


$color-focus: $color-flat-navy;
$color-accept: $color-flat-royal;
$color-danger: $color-flat-red;
